[submodule ".zsh-completions"]
	path = .zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "paver"]
	path = paver
	url = git://github.com/paver/paver.git
[submodule "git-info"]
	path = git-info
	url = git://github.com/knu/git-info.git
[submodule ".z.sh"]
	path = .z.sh
	url = git://github.com/rupa/z.git
