[submodule ".vim/neobundle.vim.git"]
	path = .vim/neobundle.vim.git
	url = git://github.com/Shougo/neobundle.vim
[submodule ".zsh-completions"]
	path = .zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "paver"]
	path = paver
	url = git://github.com/paver/paver.git
