[user]
    name = raimon
    email = raimon49@hotmail.com
[core]
    pager = $PAGER
    editor = $EDITOR
    autocrlf = false
[color]
    ui = auto
[alias]
    ss = stash save
    sp = stash pop
    st = status -s
    ls = ls-files
    stat = status
    rawci = commit
    ci = commit -v
    reci = commit --amend --date=now
    br = branch
    prebr = checkout -
    unstage = reset
    co = clone --recursive
    di = diff
    up = pull --rebase
    premerge = merge --no-commit --no-ff
    onemerge = merge --squash
    rollback = reset --soft HEAD^
    out = log origin..HEAD
    subfetch = submodule foreach "git checkout master; git pull"
    l =  log --pretty=format:\"%h %ad (%an): %s\" --date=short -20
    slog = log --pretty=format:\"%h %ad (%an): %s\" --date=short -20
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    log-graph = log --graph --date=short --pretty=format:'%Cgreen%h %cd %Cblue%cn %Creset%s'
    log-all = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'
    log-diff = log -p
    pager = '!$HOME/local/bin/git-pager'
    info = '!$HOME/local/bin/git-info'
