[submodule "git-info"]
	path = git-info
	url = git://github.com/gitbits/git-info.git
[submodule "git-ls-branches"]
	path = git-ls-branches
	url = git://github.com/gitbits/git-ls-branches.git
[submodule ".z.sh"]
	path = .z.sh
	url = git://github.com/rupa/z.git
