# 大文字小文字を無視
set completion-ignore-case on

# 日本語関連
set convert-meta off
set meta-flag on
set output-meta on

# ls -Fライクな補完
set visible-stats on

# 通常はドットファイルを隠す
set match-hidden-files off

# 履歴検索
"\C-p": history-search-backward
"\C-n": history-search-forward

$if Bash
    # ~から始まるパスを展開しない
    set expand-tilde off
$endif

# ビープ音抑止
set bell-style none

$if mysql
    “\C-xd”: “SHOW DATABASES;\n”
    “\C-xt”: “SHOW TABLES;\n”
    “\C-xu”: “SELECT User,Host,Password,t.* FROM mysql.user AS t ORDER BY User,Host; SELECT Db,User,Host,t.* FROM mysql.db AS t ORDER BY Db,User,Host;\n”
    “\C-xc”: “SHOW VARIABLES LIKE ‘char%’; SELECT * FROM information_schema.SCHEMATA; SHOW TABLE STATUS;\n”
    “\C-xi”: “SHOW INNODB STATUS;\n”
    “\C-xs”: “SET SQL_SAFE_UPDATES=0;\n”
$endif
