@charset "utf-8";
/*
 * profile-directory/chrome/userContent.css
 * (for Windows)
 */
@font-face {
    font-family: "ＭＳ Ｐゴシック";
    src: local("メイリオ"), local("Meiryo"), local("ＭＳ Ｐゴシック");
}

@font-face {
    font-family: "MS PGothic";
    src: local("メイリオ"), local("Meiryo"), local("ＭＳ Ｐゴシック");
}

@font-face {
    font-family: "ＭＳ Ｐ明朝";
    src: local("メイリオ"), local("Meiryo"), local("ＭＳ Ｐゴシック");
}

@font-face {
    font-family: "MS PMincho";
    src: local("メイリオ"), local("Meiryo"), local("ＭＳ Ｐゴシック");
}

@font-face {
    font-family: "Georgia";
    src: local("メイリオ"), local("Meiryo"), local("ＭＳ Ｐゴシック");
}

@font-face {
  font-family: "MS UI Gothic";
  src: local("Meiryo UI"), local("MS UI Gothic");
}
